body {
  background: #f8f8f8 !important;
  font-family: "Roboto Slab", serif !important;
  color: rgb(66, 66, 66) !important;
}

.MyNav {
  border-bottom: rgba(0,0,0,0.13) solid 1px;
  margin-bottom: 16px;
}

.SecNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
