.App {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.my-sidebar {
  min-width: 250px;
  max-width: 250px;
  margin-left: -250px;
  transition: all 0.5s;
  border-right: 1px solid lightgray;
}

.my-sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  border-bottom: 1px solid lightgray;
}

.sidebar-header h5 {
  padding: 1em;
}

.my-sidebar ul p {
  padding: 10px;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .my-sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .my-sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
